# Maven build
target/

# Compiled files
*.class

# Logs
*.log

# IntelliJ
*.iml

# Node
node_modules/
# not .zip files are added to .gitignore, but if you want to ignore all .zip files, you can uncomment the following line
*.zip
